In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

We're ready to build our first neural network. We will have multiple features we feed into our model, each of which will go through a set of perceptron models to arrive at a response which will be trained to our output.

Like many models we've covered, this can be used as both a regression or classification model.

First, we need to load our dataset. For this example we'll use The Museum of Modern Art in New York's [public dataset](https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv) on their collection.

In [3]:
artworks = pd.read_csv('Artworks.csv')

In [4]:
artworks.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio', 'Nationality',
       'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL',
       'Circumference (cm)', 'Depth (cm)', 'Diameter (cm)', 'Height (cm)',
       'Length (cm)', 'Weight (kg)', 'Width (cm)', 'Seat Height (cm)',
       'Duration (sec.)'],
      dtype='object')

We'll also do a bit of data processing and cleaning, selecting columns of interest and converting URL's to booleans indicating whether they are present.

In [5]:
# Select Columns.
artworks = artworks[['Artist', 'Nationality', 'Gender', 'Date', 'Department',
                    'DateAcquired', 'URL', 'ThumbnailURL', 'Height (cm)', 'Width (cm)']]

# Convert URL's to booleans.
artworks['URL'] = artworks['URL'].notnull()
artworks['ThumbnailURL'] = artworks['ThumbnailURL'].notnull()

# Drop films and some other tricky rows.
artworks = artworks[artworks['Department']!='Film']
artworks = artworks[artworks['Department']!='Media and Performance Art']
artworks = artworks[artworks['Department']!='Fluxus Collection']

# Drop missing data.
artworks = artworks.dropna()

In [7]:
print(artworks.shape)
artworks.head()

(106031, 10)

,Artist,Nationality,Gender,Date,Department,DateAcquired,URL,ThumbnailURL,Height (cm),Width (cm)
0,Otto Wagner,(Austrian),(Male),1896,Architecture & Design,1996-04-09,True,True,48.6000,168.9000
1,Christian de Portzamparc,(French),(Male),1987,Architecture & Design,1995-01-17,True,True,40.6401,29.8451
2,Emil Hoppe,(Austrian),(Male),1903,Architecture & Design,1997-01-15,True,True,34.3000,31.8000
3,Bernard Tschumi,(),(Male),1980,Architecture & Design,1995-01-17,True,True,50.8000,50.8000
4,Emil Hoppe,(Austrian),(Male),1903,Architecture & Design,1997-01-15,True,True,38.4000,19.1000

## Building a Model

Now, let's see if we can use multi-layer perceptron modeling (or "MLP") to see if we can classify the department a piece should go into using everything but the department name.

Before we import MLP from SKLearn and establish the model we first have to ensure correct typing for our data and do some other cleaning.

In [8]:
# Get data types.
artworks.dtypes

Artist           object
Nationality      object
Gender           object
Date             object
Department       object
DateAcquired     object
URL                bool
ThumbnailURL       bool
Height (cm)     float64
Width (cm)      float64
dtype: object

The `DateAcquired` column is an object. Let's transform that to a datetime object and add a feature for just the year the artwork was acquired.

In [9]:
artworks['DateAcquired'] = pd.to_datetime(artworks.DateAcquired)
artworks['YearAcquired'] = artworks.DateAcquired.dt.year
artworks['YearAcquired'].dtype

dtype('int64')

Great. Let's do some more miscellaneous cleaning.

In [10]:
# Remove multiple nationalities, genders, and artists.
artworks.loc[artworks['Gender'].str.contains('\) \('), 'Gender'] = '\(multiple_persons\)'
artworks.loc[artworks['Nationality'].str.contains('\) \('), 'Nationality'] = '\(multiple_nationalities\)'
artworks.loc[artworks['Artist'].str.contains(','), 'Artist'] = 'Multiple_Artists'

# Convert dates to start date, cutting down number of distinct examples.
artworks['Date'] = pd.Series(artworks.Date.str.extract(
    '([0-9]{4})', expand=False))[:-1]

# Final column drops and NA drop.
X = artworks.drop(['Department', 'DateAcquired', 'Artist', 'Nationality', 'Date'], 1)

# Create dummies separately.
artists = pd.get_dummies(artworks.Artist)
nationalities = pd.get_dummies(artworks.Nationality)
dates = pd.get_dummies(artworks.Date)

# Concat with other variables, but artists slows this wayyyyy down so we'll keep it out for now
X = pd.get_dummies(X, sparse=True)
X = pd.concat([X, nationalities, dates], axis=1)

Y = artworks.Department

In [105]:
artists.shape

(106031, 9119)

In [11]:
# Alright! We've done our prep, let's build the model.
# Neural networks are hugely computationally intensive.
# This may take several minutes to run.

# Import the model.
from sklearn.neural_network import MLPClassifier

# Establish and fit the model, with a single, 1000 perceptron layer.
mlp = MLPClassifier(hidden_layer_sizes=(1000,))
mlp.fit(X, Y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1000,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [12]:
mlp.score(X, Y)

0.6985315615244598

In [13]:
Y.value_counts()/len(Y)

Prints & Illustrated Books    0.520763
Photography                   0.227735
Architecture & Design         0.114202
Drawings                      0.103592
Painting & Sculpture          0.033707
Name: Department, dtype: float64

In [12]:
from sklearn.model_selection import cross_val_score
cross_val_score(mlp, X, Y, cv=5)

array([ 0.57519536,  0.52577072,  0.36922856,  0.48580744,  0.54039799])

Now we got a lot of information from all of this. Firstly we can see that the model seems to overfit, though there is still so remaining performance when validated with cross validation. This is a feature of neural networks that aren't given enough data for the number of features present. _Neural networks, in general, like_ a lot _of data_. You may also have noticed something also about neural networks: _they can take a_ long _time to run_. Try increasing the layer size by adding a zero. Feel free to interrupt the kernel if you don't have time...

Also note that we created bools for artist's name but left them out. Both of the above points are the reason for that. It would take much longer to run and it would be much more prone to overfitting.

## Model parameters

Now, before we move on and let you loose with some tasks to work on the model, let's go over the parameters.

We included one parameter: hidden layer size. Remember in the previous lesson, when we talked about layers in a neural network. This tells us how many and how big to make our layers. Pass in a tuple that specifies each layer's size. Our network is 1000 neurons wide and one layer. (100, 4, ) would create a network with two layers, one 100 wide and the other 4.

How many layers to include is determined by two things: computational resources and cross validation searching for convergence. It's generally less than the number of input variables you have.

You can also set an alpha. Neural networks like this use a regularization parameter that penalizes large coefficients just like we discussed in the advanced regression section. Alpha scales that penalty.

Lastly, we'll discuss the activation function. The activation function determines whether the output from an individual perceptron is binary or continuous. By default this is a 'relu', or 'rectified linear unit function' function. In the exercise we went through earlier we used this binary function, but we discussed the _sigmoid_ as a reasonable alternative. The _sigmoid_ (called 'logistic' by SKLearn because it's a 'logistic sigmoid function') allows for continuous variables between 0 and 1, which allows for a more nuanced model. It does come at the cost of increased computational complexity.

If you want to learn more about these, study [activation functions](https://en.wikipedia.org/wiki/Activation_function) and [multilayer perceptrons](https://en.wikipedia.org/wiki/Multilayer_perceptron). The [Deep Learning](http://www.deeplearningbook.org/) book referenced earlier goes into great detail on the linear algebra involved.

You could also just test the models with cross validation. Unless neural networks are your specialty cross validation should be sufficient.

For the other parameters and their defaults, check out the [MLPClassifier documentaiton](http://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html#sklearn.neural_network.MLPClassifier).

## Drill: Playing with layers

Now it's your turn. Using the space below, experiment with different hidden layer structures. You can try this on a subset of the data to improve runtime. See how things vary. See what seems to matter the most. Feel free to manipulate other parameters as well. It may also be beneficial to do some real feature selection work...

In [16]:
list(X.columns)

['URL',
 'ThumbnailURL',
 'Height (cm)',
 'Width (cm)',
 'YearAcquired',
 'Gender_()',
 'Gender_(Female)',
 'Gender_(Male)',
 'Gender_(male)',
 'Gender_\\(multiple_persons\\)',
 '()',
 '(Albanian)',
 '(Algerian)',
 '(American)',
 '(Argentine)',
 '(Australian)',
 '(Austrian)',
 '(Azerbaijani)',
 '(Bahamian)',
 '(Belgian)',
 '(Bolivian)',
 '(Bosnian)',
 '(Brazilian)',
 '(British)',
 '(Bulgarian)',
 '(Cambodian)',
 '(Cameroonian)',
 '(Canadian Inuit)',
 '(Canadian)',
 '(Chilean)',
 '(Chinese)',
 '(Colombian)',
 '(Congolese)',
 '(Coptic)',
 '(Costa Rican)',
 '(Croatian)',
 '(Cuban)',
 '(Czech)',
 '(Czechoslovakian)',
 '(Danish)',
 '(Dutch)',
 '(Ecuadorian)',
 '(Egyptian)',
 '(Estonian)',
 '(Ethiopian)',
 '(Finnish)',
 '(French)',
 '(Georgian)',
 '(German)',
 '(Ghanaian)',
 '(Greek)',
 '(Guatemalan)',
 '(Guyanese)',
 '(Haitian)',
 '(Hungarian)',
 '(Icelandic)',
 '(Indian)',
 '(Iranian)',
 '(Irish)',
 '(Israeli)',
 '(Italian)',
 '(Ivorian)',
 '(Japanese)',
 '(Kenyan)',
 '(Korean)',
 '(Kuwaiti)',
 '(Latvian)',
 '(Lebanese)',
 '(Lithuanian)',
 '(Luxembourgish)',
 '(Macedonian)',
 '(Malaysian)',
 '(Malian)',
 '(Mexican)',
 '(Moroccan)',
 '(Namibian)',
 '(Nationality Unknown)',
 '(Nationality unknown)',
 '(New Zealander)',
 '(Nicaraguan)',
 '(Nigerian)',
 '(Norwegian)',
 '(Pakistani)',
 '(Palestinian)',
 '(Panamanian)',
 '(Paraguayan)',
 '(Persian)',
 '(Peruvian)',
 '(Polish)',
 '(Portuguese)',
 '(Puerto Rican)',
 '(Romanian)',
 '(Russian)',
 '(Scottish)',
 '(Senegalese)',
 '(Serbian)',
 '(Singaporean)',
 '(Slovak)',
 '(Slovenian)',
 '(South African)',
 '(Spanish)',
 '(Sudanese)',
 '(Swedish)',
 '(Swiss)',
 '(Taiwanese)',
 '(Tanzanian)',
 '(Thai)',
 '(Tunisian)',
 '(Turkish)',
 '(Ugandan)',
 '(Ukrainian)',
 '(Uruguayan)',
 '(Various)',
 '(Venezuelan)',
 '(Yugoslav)',
 '(Zimbabwean)',
 '(nationality unknown)',
 '\\(multiple_nationalities\\)',
 '1501',
 '1768',
 '1786',
 '1797',
 '1799',
 '1800',
 '1805',
 '1808',
 '1809',
 '1810',
 '1811',
 '1816',
 '1818',
 '1825',
 '1828',
 '1832',
 '1837',
 '1838',
 '1839',
 '1840',
 '1841',
 '1842',
 '1843',
 '1844',
 '1845',
 '1846',
 '1847',
 '1848',
 '1849',
 '1850',
 '1851',
 '1852',
 '1853',
 '1854',
 '1855',
 '1856',
 '1857',
 '1858',
 '1859',
 '1860',
 '1861',
 '1862',
 '1863',
 '1864',
 '1865',
 '1866',
 '1867',
 '1868',
 '1869',
 '1870',
 '1871',
 '1872',
 '1873',
 '1874',
 '1875',
 '1876',
 '1877',
 '1878',
 '1879',
 '1880',
 '1881',
 '1882',
 '1883',
 '1884',
 '1885',
 '1886',
 '1887',
 '1888',
 '1889',
 '1890',
 '1891',
 '1892',
 '1893',
 '1894',
 '1895',
 '1896',
 '1897',
 '1898',
 '1899',
 '1900',
 '1901',
 '1902',
 '1903',
 '1904',
 '1905',
 '1906',
 '1907',
 '1908',
 '1909',
 '1910',
 '1911',
 '1912',
 '1913',
 '1914',
 '1915',
 '1916',
 '1917',
 '1918',
 '1919',
 '1920',
 '1921',
 '1922',
 '1923',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1929',
 '1930',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1937',
 '1938',
 '1939',
 '1940',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018']

In [26]:
pd.concat([X,Y],1)

,URL,ThumbnailURL,Height (cm),Width (cm),YearAcquired,Gender_(),Gender_(Female),Gender_(Male),Gender_(male),Gender_\(multiple_persons\),...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Department
0,True,True,48.600000,168.900000,1996,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
1,True,True,40.640100,29.845100,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
2,True,True,34.300000,31.800000,1997,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
3,True,True,50.800000,50.800000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
4,True,True,38.400000,19.100000,1997,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
5,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
6,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
7,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
8,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
9,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
10,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
11,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
12,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
13,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
14,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
15,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
16,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
17,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
18,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
19,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
20,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
21,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
22,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
23,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
24,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
25,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
26,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
27,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
28,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
29,True,True,35.600000,45.700000,1995,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135589,True,True,23.500000,16.500000,2001,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135590,True,True,23.500000,16.500000,2001,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135591,True,True,23.500000,16.500000,2001,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135592,True,True,23.500000,16.500000,2001,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135593,True,True,23.500000,16.500000,2001,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135594,True,True,23.500000,16.500000,2001,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135595,True,True,23.500000,16.500000,2001,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135596,True,True,23.500000,16.500000,2001,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135597,True,True,23.500000,16.500000,2001,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135598,True,True,23.500000,16.500000,2001,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135599,True,True,23.500000,16.500000,2001,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135612,True,False,35.000000,16.500000,1993,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135613,True,False,35.000000,16.500000,1993,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135614,True,False,35.000000,16.500000,1993,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135615,True,False,35.000000,16.500000,1993,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Prints & Illustrated Books
135623,True,True,33.000000,30.500000,1986,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drawings
135624,True,True,33.000000,30.500000,1986,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drawings
135625,True,True,33.000000,30.500000,1986,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drawings
135626,True,True,33.000000,30.500000,1986,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drawings
135627,True,True,33.000000,30.500000,1986,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drawings
135628,True,True,33.000000,30.500000,1986,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drawings
135629,True,False,33.000000,30.500000,1986,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drawings
135630,True,True,33.000000,30.500000,1986,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drawings
135631,True,False,39.370079,30.480061,2018,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,Painting & Sculpture
135632,True,False,39.370079,30.480061,2018,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,Painting & Sculpture
135633,True,False,39.370079,30.480061,2018,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,Painting & Sculpture
135634,True,False,39.370079,30.480061,2018,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,Painting & Sculpture
135635,True,True,39.370079,30.480061,2018,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,Painting & Sculpture
135791,False,False,90.170180,69.850140,2018,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,Architecture & Design
135792,False,False,55.880112,76.200152,2018,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Architecture & Design

In [61]:
# convert y to numeric to check correlations
Y_numeric = pd.Series(pd.factorize(Y)[0]).reset_index()
Y_numeric.columns = ['index', 'Deparment']

In [63]:
# assign correlation matrix to variable
correlation_matrix = pd.concat([X,Y_numeric['Deparment']],1).corr()

In [64]:
# check correlations of top 55 
correlation_matrix.loc[:, 'Deparment'].sort_values(ascending=False)[:55]

Deparment          1.000000
(American)         0.139065
1875               0.064946
1884               0.053149
1859               0.047780
1857               0.042239
1871               0.041292
(Mexican)          0.035021
1858               0.034106
1856               0.032871
2004               0.031078
1903               0.030375
1861               0.027845
1905               0.027121
1971               0.027029
1860               0.025239
1867               0.025084
()                 0.024356
1865               0.023945
(Norwegian)        0.023830
1853               0.023649
1990               0.023209
1968               0.022800
(Cuban)            0.022610
1932               0.021829
1891               0.020500
1855               0.020115
1959               0.020023
1904               0.019437
1972               0.018611
Width (cm)         0.018500
1940               0.017335
1872               0.017216
1850               0.017078
1982               0.014666
1896               0.014612
1878               0.014395
1973               0.014296
(Pakistani)        0.013584
(Canadian)         0.013447
1914               0.013197
1974               0.012689
(Egyptian)         0.012380
1976               0.012102
1890               0.011841
1970               0.011762
1909               0.011680
(Ukrainian)        0.011167
1921               0.010888
(Congolese)        0.010721
(Georgian)         0.010721
(Guatemalan)       0.010555
(Brazilian)        0.010489
Gender_(Female)    0.009799
1866               0.009714
Name: Deparment, dtype: float64

In [85]:
# assign feature with correlation > .01 to list
pos_corr = list(correlation_matrix.loc[:, 'Deparment'].sort_values(ascending=False)[1:103].index)

In [86]:
# assign feature with neg correlation > -.01 to list
neg_corr = list(correlation_matrix.loc[:, 'Deparment'].sort_values()[:108].index)

In [73]:
%timeit
# Your code here. Experiment with hidden layers to build your own model.

# Alright! We've done our prep, let's build the model.
# Neural networks are hugely computationally intensive.
# This may take several minutes to run.

# Import the model.
from sklearn.neural_network import MLPClassifier

# Establish and fit the model, with a single, 1000 perceptron layer.
mlp_test = MLPClassifier(hidden_layer_sizes=(1500,))
mlp_test.fit(X[pos_corr+neg_corr], Y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1500,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [74]:
mlp_test.score(X[pos_corr+neg_corr], Y)

0.6188378870330375

In [202]:
cross_val_score(mlp_test, X[pos_corr+neg_corr], Y)

array([0.60815934, 0.55068896, 0.49230377])

In [82]:


# Establish and fit the model, with a single, 1000 perceptron layer.
mlp_test = MLPClassifier(activation='logistic', hidden_layer_sizes=(1500,))
%timeit mlp_test.fit(X[:][:55000], Y[:55000])

7min 25s ± 1min 45s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [84]:
mlp_test.score(X[:][:55000], Y[:55000])

0.7538909090909091

In [88]:
# Establish and fit the model, with a single, 1000 perceptron layer.
mlp_test2 = MLPClassifier(activation='logistic', hidden_layer_sizes=(1500,))

In [92]:
%%time
mlp_test2.fit(X, Y)

CPU times: user 21min 55s, sys: 2min 13s, total: 24min 8s
Wall time: 17min 5s

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1500,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [93]:
# Logistic Sigmoid with 106 features 
mlp_test2.score(X, Y)

0.714055323443144

In [97]:
%%time
mlp_test3 = MLPClassifier(activation='logistic', hidden_layer_sizes=(500, 500))
mlp_test3.fit(X[:][:55000], Y[:55000])

CPU times: user 5min 35s, sys: 34.1 s, total: 6min 9s
Wall time: 4min 4s

In [99]:
mlp_test3.score(X[:][:55000], Y[:55000])

0.7576

In [101]:
%%time
mlp_test4 = MLPClassifier(activation='logistic', hidden_layer_sizes=(500, 500, 500))
mlp_test4.fit(X[:][:55000], Y[:55000])

CPU times: user 8min 33s, sys: 54.5 s, total: 9min 27s
Wall time: 5min 59s

In [102]:
mlp_test4.score(X[:][:55000], Y[:55000])

0.7519272727272728

## lets reduce artists dummies vars with pca and add it to X

In [107]:
from sklearn.decomposition import PCA

In [108]:
pca = PCA(n_components = 50)

pca_artists = pca.fit_transform(artists)

artist_headings = ["PCA_ARTIST "+ str(x) for x in range(1,51)]


artists_df = pd.DataFrame(pca_artists, columns = artist_headings, index=X.index)

In [109]:
X_artists = pd.concat([X, artists_df], 1)

In [110]:
mlp_test5 = MLPClassifier(activation='logistic', hidden_layer_sizes=(500, 500, 500))
mlp_test5.fit(X_artists[:][:55000], Y[:55000])

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(500, 500, 500), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [111]:
mlp_test5.score(X_artists[:][:55000], Y[:55000])

0.8020727272727273

In [203]:
mlp_test5a = MLPClassifier(activation='logistic', solver='sgd', learning_rate='adaptive', hidden_layer_sizes=(500, 500, 500))
mlp_test5a.fit(X_artists[:][:55000], Y[:55000])

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(500, 500, 500), learning_rate='adaptive',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='sgd', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [205]:
mlp_test5a.score(X_artists[:][:55000], Y[:55000])

0.5514

In [112]:
mlp_test6 = MLPClassifier(activation='logistic', hidden_layer_sizes=(500, 500))
mlp_test6.fit(X_artists[:][:55000], Y[:55000])

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(500, 500), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [113]:
mlp_test6.score(X_artists[:][:55000], Y[:55000])

0.7768727272727273

In [114]:
mlp_test7 = MLPClassifier(activation='logistic', hidden_layer_sizes=(1500, 1000, 500))
mlp_test7.fit(X_artists[:][:55000], Y[:55000])

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1500, 1000, 500), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [117]:
mlp_test7.score(X_artists[:][:55000], Y[:55000])

0.7817636363636363

In [119]:
from sklearn.model_selection import cross_val_score

In [120]:
%%time
# let's cross validate best performing model
cross_val_score(mlp_test5, X_artists[:][:55000], Y[:55000], cv=5)

CPU times: user 22min 5s, sys: 1min 32s, total: 23min 38s
Wall time: 13min 58s

array([0.72125784, 0.75174984, 0.55141376, 0.74624966, 0.32696854])

In [122]:
# model is over fitting, adjust regularization parameter, alpha from .0001 to .01
mlp_test8 = MLPClassifier(activation='logistic', alpha=0.01,  hidden_layer_sizes=(500, 500, 500))
mlp_test8.fit(X_artists[:][:55000], Y[:55000])

MLPClassifier(activation='logistic', alpha=0.01, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(500, 500, 500), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [123]:
mlp_test8.score(X_artists[:][:55000], Y[:55000])

0.777090909090909

In [125]:


cross_val_score(mlp_test8, X_artists[:][:55000], Y[:55000], cv=5)

array([0.70917023, 0.73438778, 0.74234021, 0.73415765, 0.38816148])

In [ ]:
# model is over fitting, adjust regularization parameter, alpha from .0001 to .001
mlp_test8 = MLPClassifier(activation='logistic', alpha=0.001,  hidden_layer_sizes=(500, 500, 500))
mlp_test8.fit(X_artists[:][:55000], Y[:55000])

In [126]:
mlp_test9 = MLPClassifier(activation='logistic', alpha=0.0005,  hidden_layer_sizes=(500, 500, 500))
mlp_test9.fit(X_artists, Y)

MLPClassifier(activation='logistic', alpha=0.05, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(500, 500, 500), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [127]:
mlp_test9.score(X_artists, Y)

0.7095566390961134

In [128]:
cross_val_score(mlp_test9, X_artists, Y, cv=5)

array([0.63183704, 0.72665975, 0.52235216, 0.60020749, 0.54879027])

In [130]:
from sklearn.feature_selection import chi2

In [169]:
chi2_stats = chi2(X,Y)[0]
chi2_p_values = chi2(X,Y)[1]

In [171]:
chi2_res_df = pd.DataFrame()
chi2_res_df['chi2_statistic'] = chi2_stats
chi2_res_df['p_vals'] = chi2_p_values
chi2_res_df.set_index(X.columns, inplace=True)
chi2_res_df

                             chi2_statistic         p_vals
URL                            5.342793e+03   0.000000e+00
ThumbnailURL                   2.944184e+03   0.000000e+00
Height (cm)                    9.275725e+05   0.000000e+00
Width (cm)                     1.082370e+06   0.000000e+00
YearAcquired                   1.204649e+03  1.564214e-259
Gender_()                      4.502170e+03   0.000000e+00
Gender_(Female)                7.686675e+02  4.696998e-165
Gender_(Male)                  4.329812e+02   2.073784e-92
Gender_(male)                  6.314013e+01   6.340366e-13
Gender_\(multiple_persons\)    3.711220e+03   0.000000e+00
()                             3.559297e+03   0.000000e+00
(Albanian)                     1.656468e+01   2.347917e-03
(Algerian)                     9.202601e-01   9.216364e-01
(American)                     2.451988e+03   0.000000e+00
(Argentine)                    9.228092e+01   4.313661e-19
(Australian)                   7.783201e+01   5.013498e-16
(Austrian)                     1.390111e+02   4.595580e-29
(Azerbaijani)                  9.202601e-01   9.216364e-01
(Bahamian)                     1.766027e+01   1.437740e-03
(Belgian)                      4.846407e+02  1.405384e-103
(Bolivian)                     7.737415e+00   1.016846e-01
(Bosnian)                      4.187875e+01   1.767536e-08
(Brazilian)                    3.877710e+02   1.220033e-82
(British)                      1.285652e+02   7.892682e-27
(Bulgarian)                    3.143927e+01   2.490438e-06
(Cambodian)                    2.712850e+01   1.872442e-05
(Cameroonian)                  1.196338e+01   1.762566e-02
(Canadian Inuit)               4.601300e+00   3.307043e-01
(Canadian)                     8.499281e+01   1.522299e-17
(Chilean)                      9.192869e+01   5.125155e-19
...                                     ...            ...
1989                           3.083033e+01   3.315312e-06
1990                           2.625773e+01   2.807461e-05
1991                           6.243625e+01   8.917433e-13
1992                           2.385663e+02   1.888783e-50
1993                           1.480049e+01   5.133408e-03
1994                           1.896638e+01   7.979880e-04
1995                           3.321251e+01   1.080594e-06
1996                           4.112442e+01   2.533024e-08
1997                           3.815924e+01   1.038920e-07
1998                           1.178222e+02   1.558627e-24
1999                           1.101689e+02   6.698431e-23
2000                           2.162201e+02   1.219758e-45
2001                           3.175260e+02   1.792991e-67
2002                           6.110913e+02  6.161789e-131
2003                           3.368621e+03   0.000000e+00
2004                           5.578611e+02  2.037277e-119
2005                           8.675840e+01   6.424405e-18
2006                           1.404353e+02   2.277494e-29
2007                           1.087126e+01   2.804967e-02
2008                           2.174237e+02   6.718852e-46
2009                           9.503066e+01   1.122624e-19
2010                           3.730069e+01   1.561807e-07
2011                           2.008996e+01   4.793861e-04
2012                           2.840451e+01   1.032633e-05
2013                           1.114534e+02   3.564351e-23
2014                           5.091915e+01   2.320758e-10
2015                           1.372331e+02   1.103860e-28
2016                           1.021515e+01   3.695533e-02
2017                           2.271975e+01   1.440403e-04
2018                           1.379379e+01   7.983126e-03

[316 rows x 2 columns]

In [183]:
chi2_res_df.sort_values('chi2_statistic', ascending=False)[:100]

                             chi2_statistic         p_vals
Width (cm)                     1.082370e+06   0.000000e+00
Height (cm)                    9.275725e+05   0.000000e+00
(French)                       5.504988e+03   0.000000e+00
URL                            5.342793e+03   0.000000e+00
Gender_()                      4.502170e+03   0.000000e+00
Gender_\(multiple_persons\)    3.711220e+03   0.000000e+00
\(multiple_nationalities\)     3.711220e+03   0.000000e+00
()                             3.559297e+03   0.000000e+00
2003                           3.368621e+03   0.000000e+00
ThumbnailURL                   2.944184e+03   0.000000e+00
(American)                     2.451988e+03   0.000000e+00
(Swiss)                        1.522872e+03   0.000000e+00
1938                           1.418814e+03  5.754951e-306
(Spanish)                      1.294295e+03  5.741121e-279
YearAcquired                   1.204649e+03  1.564214e-259
(Nationality Unknown)          1.073769e+03  3.670371e-231
(Dutch)                        1.022487e+03  4.778883e-220
1971                           9.936314e+02  8.565371e-214
1860                           9.761136e+02  5.357737e-210
1926                           8.319410e+02  9.255912e-179
(Portuguese)                   8.095011e+02  6.719413e-174
(Nationality unknown)          7.705217e+02  1.863065e-165
Gender_(Female)                7.686675e+02  4.696998e-165
1940                           6.416847e+02  1.470861e-137
2002                           6.110913e+02  6.161789e-131
2004                           5.578611e+02  2.037277e-119
1869                           5.290058e+02  3.563780e-113
1857                           5.067010e+02  2.380741e-108
(Belgian)                      4.846407e+02  1.405384e-103
1843                           4.781399e+02  3.577496e-102
...                                     ...            ...
1893                           2.067491e+02   1.329231e-43
1980                           1.960749e+02   2.622263e-41
(Cuban)                        1.878087e+02   1.567274e-39
1964                           1.866341e+02   2.802326e-39
1853                           1.831174e+02   1.595798e-38
1929                           1.827072e+02   1.954759e-38
1858                           1.761692e+02   4.956074e-37
1920                           1.712128e+02   5.743180e-36
1876                           1.699004e+02   1.098614e-35
1850                           1.676745e+02   3.300093e-35
1962                           1.676486e+02   3.342678e-35
1931                           1.626046e+02   4.038889e-34
1921                           1.614050e+02   7.304501e-34
(Mexican)                      1.574718e+02   5.094223e-33
1974                           1.570717e+02   6.206855e-33
(Danish)                       1.562713e+02   9.215075e-33
1927                           1.496232e+02   2.451704e-31
1912                           1.454087e+02   1.960628e-30
1908                           1.445465e+02   2.999695e-30
1919                           1.442546e+02   3.464188e-30
2006                           1.404353e+02   2.277494e-29
1961                           1.399443e+02   2.901208e-29
(Austrian)                     1.390111e+02   4.595580e-29
(Norwegian)                    1.389374e+02   4.765590e-29
1979                           1.388590e+02   4.953406e-29
1948                           1.372748e+02   1.081446e-28
2015                           1.372331e+02   1.103860e-28
(Indian)                       1.356666e+02   2.388728e-28
1867                           1.342242e+02   4.862035e-28
(Uruguayan)                    1.337467e+02   6.151368e-28

[100 rows x 2 columns]

In [184]:
chi2_filter_top_100 = list(chi2_res_df.sort_values('chi2_statistic', ascending=False)[:100].index)

In [190]:
reduced_X = X[chi2_filter_top_100]

In [192]:
# atttempt 10 mlp with 100 features selected with chi-squared test plus pca reduced artists alpha .0001
mlp_test10 = MLPClassifier(activation='logistic', alpha=.001, hidden_layer_sizes=(500, 500))
mlp_test10.fit(reduced_X[:][:55000], Y[:55000])

MLPClassifier(activation='logistic', alpha=0.001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(500, 500), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [193]:
mlp_test10.score(reduced_X[:][:55000], Y[:55000])

0.7313272727272727

In [194]:
cross_val_score(mlp_test10, reduced_X[:][:55000], Y[:55000], cv=5)

array([0.65936563, 0.69139169, 0.14055823, 0.57977998, 0.22785961])

In [195]:
from sklearn.model_selection import train_test_split

In [196]:
train_test_split?

In [197]:
X_train, X_test, Y_train, Y_test = train_test_split(reduced_X[:][:55000], Y[:55000], test_size=.2, random_state=0)

In [198]:
mlp_test11 = MLPClassifier(activation='logistic', alpha=.001, hidden_layer_sizes=(500, 500))
mlp_test11.fit(X_train, Y_train)

MLPClassifier(activation='logistic', alpha=0.001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(500, 500), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [199]:
mlp_test11.score(X_test, Y_test)

0.7134545454545455

In [200]:
mlp_test11.score(X_train, Y_train)

0.713590909090909

## Excercise Takeaways
Model performance benefit from more features (9000 artist dummy variable reduced via pca)
L2 regularization parameter tuning can help address over fitting at the cost of previdective accuracy
This particular model seemed to work best with a sigmoid activation function
Best model used three hidden layers 500 nodes wide, grid search may be good for determining optimal hadden layer size layer size